body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-image: url("https://data.whicdn.com/images/272396511/original.gif");
    /* background-image: linear-gradient(to right, rgb(243, 146, 146) , rgb(131, 39, 39)); */
  background-size: cover;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


}
.linktosignup {
  background-color: rgb(113, 2, 40);

}
.linktologin {
  background-color: rgb(113, 2, 40);

}

.resultsdiv {
  background-color: rgb(106, 0, 5);
  color: rgb(187, 204, 240);
  text-align: center;
}

.question {
  color: white;
  text-align: center;
}
.answerOption {
  background-color: beige;
  color: maroon;
  list-style: none;
  width: 400px;
  height: 60;
  float: center;
  

}
.form-signin{
  text-align: center;
  color: rgb(106, 4, 31);
  background-color: #b1cce3;
  width: 550px;
  height: 400px;
  
}
.results {
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.product-list-item {
  padding: 20px 30px;
  margin: 10px;
  width: 345px;
  color: maroon;
  background-image: url("https://static.vecteezy.com/system/resources/previews/000/588/591/non_2x/wine-bottle-wine-glass-tile-pattern-drink-wine-party-background-vector.jpg"); 


}



.analyze {
  display: inline-block;
  right: 300px;
}


.divquiz {
  background-color: #87070762;
  color: beige;
}

.page-container {
  margin: 10px auto;
  background-color: rgb(126, 38, 79);
  position: relative;
  color: black;

}


  .nav-spacing {
      color: #c3f8ff;
      padding:0 12px;
      line-height:40px;   
  }

  .nav-spacing-name {
    text-align: center;
    margin-left : 10px;
    margin-right : -15px; 
    color: #b82680;
    padding: 0px;
    line-height:60px;  
  }

  .button-space {
    margin-left: 8px;
    margin-right: 8px;
  }

  .bold-text {
    font-weight: bold;
  }

  .scooter-img {
    position: absolute;
    width: 500px;
    height: 500px;
  }

  .text-center {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }


 
    .jumbo-image {
      background-image: url("https://thumbs.gfycat.com/BoldFlusteredIrishdraughthorse-size_restricted.gif");
      background-size: cover; 
      height: 850px;
      padding-left: 100px;
      padding-top: 100px;
      display: block;
      border-radius: 0px;
      
    }

    .shoppingheader {
      text-align: center;
    }


  .logo {
    font-family: cursive;
    /* font-style: italic; */
    font-size: 60px;
    margin-left: 8px;
    color: #292929;
    padding: 0px;
  }

  .bold {
    font-style: bold;
  }

  a:hover {
    text-decoration: none;
    color: #292929;
  }

  .jumbo-head-text {
    font-family: cursive;
    font-style: oblique;
    color: rgb(216, 0, 0);
  }

  .jumbo-body-text {
    font-style: bold;
    color: rgb(50, 24, 24);
  }

  .white-button {
    background-color: rgba(233, 254, 255, 0.454);
    color: #870754;
    border-radius: 0px;
  }

  .white-button:hover {
    background-color: #292929;
    color: rgb(147, 235, 255);
  }

  .black-button {
    background-color: #292929;
    color: #fff;
    border-radius: 0px;
    border-color: #292929;
  }

  .black-button:hover {
    background-color: #fff;
    color: #292929;
     border-color: #292929;
  }

  .pop-up {
    border-radius: 0px;
    width: 410px;
    margin-top: 250px;
    background-color: #b82680;
    color: black;
    /* max-width: 50%; */
  }

  .btn-circle {
    width: 26px;
    height: 26px;
    padding: 1px 0px;
    border-radius: 15px;
    font-size: 10px;
    text-align: center;
    line-height: .7;
}

.cart-button {
  color: #292929;
  border-radius: 0px;
  border: none;
  border-radius: 15px;
}

.cart-button:hover {
  background-color: #292929;
  color: #fff;
}

.right-button {
  float: right;
  margin-top: 15px;
}

.quantity-buttons {
  margin-left: 10px; 
  font-size: 16px;
  text-align: center;
  line-height: .5;
  width: 32px;
  height: 22px;
  background-color: #fff;
  color: #292929;
  border-radius: 0px;
}
  
.quantity-buttons:hover {
  background-color: #292929;
    color: #fff;
}

.top-spacing {
  margin-top: 15px;
}

.baby-pic {
  width: 500px;
  height: 500px;
}

.center-button {
  margin: 0 auto;
    display: block;
}

.center-text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: -150px;
}

.lower-content {
  margin-top: 150px;
}

.lower-content-50 {
  margin-top: 50px;
}

#navbar-custom {
  background-color:black;
}

.cart-spacing {
  margin-top: 100px;
}

.inline {
  float: left;
}

.left-margin {
  /* margin-left: 20px; */
  margin-top: 20px;
}
h5 {
  color: white;
}

h2 {
  color: white;
}

