body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-image: url("https://i.pinimg.com/originals/76/d8/fa/76d8fa8a2deb21e336e8231d54a46676.jpg");
    /* background-image: linear-gradient(to right, rgb(243, 146, 146) , rgb(131, 39, 39)); */
  background-size: cover;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


}

.wineevents {
  color: beige;
}
.addtocalendar {
  color: beige;
}

.searchinput {
  color: beige;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.linktosignup {
  background-color: rgb(255, 242, 247);

}

.usernameinput {
  width: 250px;
}

.passwordinput {
  width: 250px;
}

.loginbtn {
  width: 80px;
  background-color: #870754;
  color: white;
}

.linktologin {
  background-color: rgb(252, 232, 239);

}

.resultsdiv {
  background-color: rgb(141, 1, 8);
  color: rgb(255, 255, 255);
  text-align: center;
}

.entercloudwine {
  color: red;
  background-color: beige;
}
.question {
  color: white;
  text-align: center;
}
.answerOption {
  background-color: rgba(255, 255, 255, 0.783);
  color: rgb(0, 0, 0);
  list-style: none;
  width: 400px;
  height: 60;
  float: center;
  

}
.form-signin{
  text-align: center;
  color: rgb(0, 0, 0);
  background-color: #fffff870;
  width: 550px;
  height: 400px;
  
}
.results {
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.product-list-item {
  padding: 20px 30px;
  margin: 10px;
  width: 345px;
  color: rgb(194, 0, 0);
  background-image: url("https://static.vecteezy.com/system/resources/previews/000/588/591/non_2x/wine-bottle-wine-glass-tile-pattern-drink-wine-party-background-vector.jpg"); 


}

.text-center{
  color: beige;
}

.checkoutdiv {
  background-color: rgba(0, 0, 0, 0.728);
  color: rgb(255, 246, 246);
  
}
.champagne{
  position: absolute;
}
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.sip {
  background-color: black;
  text-align: center;
}

.events {
  text-align: center;
}

.joinus {
  text-align: center;
  font-size: larger;
  width: 600px;
  background-color: beige;
  color: maroon;
}

.location {
  background-color: midnightblue;
  color: pink;
  width: 450px;
}

.whatweoffer {
  background-color: #870754;
  color: beige;
  text-align: center;
  font-size: x-large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.bookbible {
 float: right;
 top: 30%;
  width: 600px;
  height: 560px;
}

.aboutpage {
  text-align: center;
  font-family: monospace;
}
.bio {
  background-color: lightpink;
  color: maroon;
  width: 600px;
  font-size: x-large;
 position: absolute;
 left: 435px;
 right: 900px;
 font-family: monospace;

}

.calendar {
  background-color: rgb(221, 96, 96);
  color: whitesmoke;
  width: 450px;
}

.analyze {
  display: inline-block;
  right: 300px;
}


.divquiz {
  background-color: #87070762;
  color: beige;
}

.page-container {
  margin: 10px auto;
  background-color: rgb(126, 38, 79);
  position: relative;
  color: black;

}

.home {
  color: magenta;
}
  .nav-spacing {
      color: #c3f8ff;
      padding:0 12px;
      line-height:40px;   
  }
  .navbar-custom{
    color: magenta;
  }

  .nav-spacing-name {
    text-align: center;
    margin-left : 10px;
    margin-right : -15px; 
    color: #b82680;
    padding: 0px;
    line-height:60px;  
  }

  .button-space {
    margin-left: 8px;
    margin-right: 8px;
  }
  
  .shopnow {
    background-size: cover;
  }

  .bold-text {
    font-weight: bold;
  }

  .cheers {
    color: black;
    position: absolute;
    width: 500px;
    height: 500px;
  }

  .text-center{
    color: rgb(255, 34, 34);
  }

  .text-center {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .welcomeheader {
    color: beige;
    font-family: fantasy;
  }

  .cartpagemenu{
    color: beige;
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .winequizz{
    color: white;
    background-color: maroon;
  }


 
    .jumbo-image {
      background-image: url(./cwine.png);
      background-size: cover; 
      height: 850px;
      padding-left: 100px;
      padding-top: 100px;
      display: block;
      border-radius: 0px;
      
    }

    .shoppingheader {
      text-align: center;
    }


  .logo {
    font-family: cursive;
    /* font-style: italic; */
    font-size: 60px;
    margin-left: 8px;
    color: #292929;
    padding: 0px;
  }

  .bold {
    font-style: bold;
  }

  a:hover {
    text-decoration: none;
    color: #b30000;
  }

  .jumbo-head-text {
    font-family: cursive;
    font-style: oblique;
    color: rgb(216, 0, 0);
  }

  .jumbo-body-text {
    font-style: bold;
    color: rgb(50, 24, 24);
  }

  .white-button {
    align-content: inherit;
    background-color: #8f0032;
    color: white;
    border-radius: 0px;
  }

  .welcomecwine {
    color: beige;
    font-family: cursive;
  }

  .itemname {
    color: beige;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  .itemquant {
    color: beige;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  .itemprice {

    color: beige;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  .bold-text{
    color: beige
  }

  .trheader {
    color: beige;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  }

  .suggest {
    color: bisque;
  }

  .white-button:hover {
    background-color: #8f0032;
    color: rgb(254, 208, 205);
  }

  .black-button {
    background-color: #292929;
    color: rgb(255, 255, 255);
    border-radius: 0px;
    border-color: #292929;
  }

  .black-button:hover {
    background-color: #fff;
    color: #292929;
     border-color: #292929;
  }

  .pop-up {
    border-radius: 0px;
    width: 410px;
    margin-top: 250px;
    background-color: #b82680;
    color: black;
    /* max-width: 50%; */
  }

  .btn-circle {
    width: 26px;
    height: 26px;
    padding: 1px 0px;
    border-radius: 15px;
    font-size: 10px;
    text-align: center;
    line-height: .7;
}

.cart-button {
  color: #292929;
  border-radius: 0px;
  border: none;
  border-radius: 15px;
}

.cart-button:hover {
  background-color: #292929;
  color: #fff;
}

.right-button {
  float: right;
  margin-top: 15px;
}

.quantity-buttons {
  margin-left: 10px; 
  font-size: 16px;
  text-align: center;
  line-height: .5;
  width: 32px;
  height: 22px;
  background-color: #fff;
  color: #292929;
  border-radius: 0px;
}
  
.quantity-buttons:hover {
  background-color: #292929;
    color: #fff;
}

.top-spacing {
  margin-top: 15px;
}

.baby-pic {
  width: 500px;
  height: 500px;
}

.center-button {
  margin: 0 auto;
    display: block;
}

.center-text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: -150px;
}

.lower-content {
  margin-top: 150px;
}

.lower-content-50 {
  background-color: rgba(148, 0, 0, 0.386);
  color: maroon;
  margin-top: 50px;
}



#navbar-custom {
  background-color:black;
}

.cart-spacing {
  margin-top: 100px;
}

.inline {
  float: left;
}

.left-margin {
  /* margin-left: 20px; */
  margin-top: 20px;
}
h5 {
  color: white;
}

h2 {
  color: white;
}

.carddiv {
  width: 700px;
  color: rgb(0, 0, 0);
  background-color: oldlace;
  display: -ms-inline-flexbox;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
}

.wineimage {
  width: 600px;
  height: 700px;
  float: right;
 
}

.calendar {
  background-color: maroon;
  color: pink;
}

.navbar-header {
  background-color: #F16E10;
}
